# Ignorar arquivos e pastas gerados pelo Node.js
node_modules
dist
tmp

# Ignorar arquivos de configuração específicos do ambiente
.env
.env.*

# Ignorar arquivos e pastas do sistema de controle de versão
.git
.gitignore

# Ignorar arquivos de IDE/editor
.vscode
.idea

# Ignorar arquivos de cache e logs
.DS_Store
Thumbs.db

# Ignorar arquivos específicos do sistema operacional Windows
npm-debug.log*
yarn-error.log*